input {
  background: #F3F3F3;
  border-radius: 20px;
  border: 1px solid #F3F3F3;
  color: #424242;
  padding: 10px 0 10px 16px;
  font-size: 15px;
  font-weight: 500;
  transition: all ease 0.3s;
  margin: 30px auto 0;
  width: 310px;

  &:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.19);
  }
}

.checkbox {
  width: 20px;
  margin-left: 25px;
}

label {
  width: 310px;
  user-select: none;
  cursor: pointer;
}

button {
  margin: 25px 0 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #838383;
  transition: all ease 0.3s;
  cursor: pointer;
  outline: none;
  border: 1px solid #f6f6f6;
  padding: 20px 40px;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.19);
    color: #000000;
  }
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 24px;

  div {
    padding-top: 15px;
  }

}

.active {
  align-items: flex-start;
  padding-left: 25px;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .button_active {
    color: #000000;
  }
}

p {
  margin: 15px 0;
}